{
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "experimentalTernaries": true,
    "printWidth": 80,
    "bracketSpacing": true,
    "importOrder": ["<THID_PARTY_MODULES>", "/hooks/", "/components/", "^../(.*)", "^./(.*)"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
