@use '../../../assets/styles/variables.scss' as var;
.input {
    background-color: var.$dark-purple;
    border: 1px solid transparent;
    color: var.$white;
    font-size: 16px;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    outline: none;
    width: 100%;
    &:focus{
        border-color: rgba(var.$primary, 0.3)
    }
    &::placeholder{
        color: #946e86;
    }
}
.error{
    color: red;
    margin-top: 5px;
}