@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #b53471;
$white: #f1e8e8;
$dark-purple: #310c24;
$dark: #1a0612;
$purple: #511734;

$bx-primary: 0 4px 4px rgba($primary, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Work Sans', sans-serif;
$mobile: 480px;
